.button__more {
  color: #1a1b22;
  background-color: #fff;
  border-radius: 80px;
  height: 64px;
  min-width: 288px;
  padding: 0 15px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button__more:hover {
  background: #FFFFFF;
  opacity: 0.9;
}


