.header__logo {
  margin: 0
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0
}

.header__link, .header__menu {
  list-style: none;
  text-decoration: none
}

.header__link {
  color: #fff
}

.header__item {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
  min-height: 80px;
  font-size: 18px;
  line-height: 24px
}

.header__item_select {
  border-bottom: 3px solid #fff
}

.header__item_hidden {
  display: none
}

.header__link_dark {
  color: #1a1b22
}

.header__item_select_dark {
  border-bottom: 3px solid #1a1b22
}

.header__icon-user {
  margin-left: 7px
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 0;
  border-bottom: 1px solid hsla(0, 0%, 89.8%, .3);
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .2)
}

.header_theme_dark {
  border-bottom: 1px solid #f3f3fa;
  box-shadow: inset 0 -1px 0 #d1d2d6
}

.header__item_dark {
  color: #1a1b22
}

.button__user {
  background: none;
  border: 1px solid #1a1b22;
  display: flex;
  padding: 15px 12px;
  align-items: center
}

.articles-intro__subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, .5)
}

.articles-intro__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  color: #1a1b22;
  max-width: 396px
}

.articles-intro__keywords {
  font-family: Roboto, Arial, sans-serif;
  color: #1a1b22;
  font-size: 18px;
  line-height: 24px
}

.articles-intro__keywords-bold {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700
}

.articles-intro {
  padding: 40px 104px 56px
}

.found-card__container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 16px;
  justify-content: center
}

.found-card__media {
  position: relative
}

.found-card__item {
  text-decoration: none;
  color: #1a1b22;
  max-width: 400px;
  min-width: 288px;
  width: 100%;
  background-color: #fff;
  min-height: 576px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
  margin-right: 16px
}

.found-card__item:last-child {
  margin-right: 0
}

.found-card__image {
  border-radius: 16px 16px 0 0;
  position: relative;
  max-width: 400px;
  min-width: 288px;
  height: 272px
}

@media screen and (max-width: 650px) {
  .found-card__image {
    max-width: 347px
  }
}

.found-card__save-icon {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px
}

.test:hover {
  stroke: red
}

.found-card__description {
  max-width: 352px;
  margin: 0 0 18px;
  padding: 18px 24px
}

.found-card__date {
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf
}

.found-card__title {
  font-family: Roboto Slab, Times New Roman, serif;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 12px 0 16px
}

.found-card__text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px
}

.found-card__source {
  font-family: Roboto Slab, Arial, sans-serif;
  color: #b6bcbf;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  bottom: 24px;
  left: 24px
}

.button__search {
  min-width: 168px;
  height: 64px;
  background: #2f71e5;
  color: #fff;
  border: none
}

.button__search, .button__search:hover {
  box-shadow: 0 5px 15px rgba(14, 26, 57, .2)
}

.button__search:hover {
  background: #347eff;
  transition: all .2s linear
}

.button__search:focus {
  outline: 0
}

.button__search:active {
  background: #305185
}

.button__signin {
  border: 1px solid #fff;
  color: #fff;
  padding: 11.88px 12px;
  min-width: 100px;
  background: none
}

.button {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer
}

.button__more {
  color: #1a1b22;
  background-color: #fff;
  border-radius: 80px;
  height: 64px;
  min-width: 288px;
  padding: 0 15px;
  border: 0
}

.button__more:hover {
  background: #fff;
  opacity: .9
}

.found-card__trashIcon {
  background-image: url(images/trash.svg);
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  padding: 13px;
  outline: none;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  top: 24px;
  right: 24px
}

.found-card__trashIcon:hover {
  background-image: url(images/trash-hover.svg)
}

.found-card__theme {
  width: 88px;
  left: 24px;
  z-index: 2
}

.found-card__delete, .found-card__theme {
  font-family: Roboto, Arial, sans-serif;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  background-color: #fff;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  position: absolute;
  top: 24px;
  margin: 0
}

.found-card__delete {
  width: 159px;
  right: 69px;
  z-index: 3
}

.found-card {
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 62px
}

.footer__copyright {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf
}

.footer__links {
  display: flex
}

.footer__link, .footer__links {
  list-style: none;
  text-decoration: none
}

.footer__link {
  color: #1a1b22
}

.footer__item {
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin-right: 41px
}

.footer__item:first-child {
  margin-right: 10px
}

.footer {
  padding: 32px 104px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

body {
  margin: 0
}
