.found-card__info {
  font-family: 'Roboto', Arial, sans-serif;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 159px;
  height: 40px;
  background-color: #fff;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  position: absolute;
  top: 24px;
  right: 69px;
  margin: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  opacity: 0;
}

/*
@media screen and (max-width: 1139px) {
  .found-card__info {
    visibility: hidden;
  }
}
*/

