.found-card__title {
  font-family: 'Roboto Slab', "Times New Roman", serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1A1B22;
  margin: 12px 0 16px 0;
}

@media screen and (max-width: 768px){
  .found-card__title {
    font-size: 22px;
    line-height: 24px;
  }
}
