.intro__search {
  max-width: 608px;
  min-width: 288px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #FFFFFF;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:396px) {
  .intro__search {
    display: block;
  }
}
