.found-card__image {
  border-radius: 16px 16px 0 0;
  position: relative;
  max-width: 400px;
  width: 100%;
}



@media screen and (max-width: 650px) {
  .found-card__image {
    max-width: 347px;
  }
}
