.intro__searchInput {
  width: 67.4%;
  outline: 0;
  cursor: pointer;
  border: none;
  padding-left: 24px;
  height: 100%;
  background: transparent;
}

.intro__searchInput::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

