.found-card__item {
  text-decoration: none;
  color: #1A1B22;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.found-card__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .found-card__item {
    max-width: 240px;
  }
}
