.footer__item {
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin-right: 41px;
}

.footer__item:first-child {
  margin-right: 10px;
}

@media screen and (max-width: 425px) {
  .footer__item {
    margin-bottom: 20px;
  }
}
