@import url('__logo/__logo.css');
@import url('__nav/__nav.css');
@import url('__menu/__menu.css');
@import url('__link/__link.css');
@import url('__item/__item.css');
@import url('__item/_select/_select.css');
@import url('__item/_hidden/_hidden.css');
@import url('__item/_dark/_dark.css');
@import url('../button/__signin/__signin.css');
@import url('../button/__user/__user.css');
@import url('_theme_dark/_theme_dark.css');
@import url('__link/_dark/_dark.css');
@import url('__item/_select_dark/_select_dark.css');
@import url('__icon-user/__icon-user.css');
@import url('__hamburger/__hamburger.css');
@import url('__hamburger-icon/__hamburger-icon.css');
@import url('__menu/_white/_white.css');


.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 0px;
  border-bottom: 1px solid rgba(229, 229, 229, .3);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
 }

.header.black {
  background-color: #1A1B22;
}

.header.white {
  background-color: #FFFF;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 14px 40px 0px;
  }
}

@media screen and (max-width: 708px) {
  .header {
    padding: 16px 16px 16px;
  }
}
